[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "npm run compile:db",
  "npm run compile",
  "npm run build"
]

[start]
cmd = "npm run start"

